.dj-bg{
  background-image: url(pexels-erik-mclean-4062563.jpg);
  min-height: 40vh;
  background-size: cover;
}
.over{
  border-left-width: thick;
  border-color: rgb(6, 29, 6);
}

.line{
  width: 50px;
  height: 20px;
}

.second{
  position: relative;
}

.overlap{
  bottom: 0;
  transform: translateY(40%);
}
@media only screen and (max-width: 400px){
  .overlap{
    bottom: 0;
    transform: translateY(0%)
  }
}

.p.text-wrap{
  width: 4em;
}

